.sidenav-left{
	width: 350px;
}

.admin-container{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
}

.mat-nav-list{
	background-color:whitesmoke;
}
